html, body {
    margin: 0;
    background: url("img/backgrounds/portlandpearl.jpg") no-repeat fixed;
    background-size: cover;
    color: #FAFAFA;
}

h1 {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 3.8em;
    font-weight: 700;
}

h2 {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 2.8em;
    font-weight: 100;
}

#shade {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(70,65,75,0.85);
    background-size: 100%;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#main-container {
    min-height: 100px;
    width: 1250px;
    padding: 60px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 300px;
}

#thintitle {
    font-weight: 300;
}

.icon {
    flex: 1;
    font-size: 2.2em;
}

.icon a {
    color: #fff;
    text-decoration: none;
}

.icon a:hover {
    color: #8f8;
    transition-duration: .33s;
}