html, body {
    margin: 0;
    background: url("img/backgrounds/portlandpearl.jpg") center no-repeat fixed;
    background-size: cover;
}

#shade {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #555;
    background-size: 100%;
    opacity: 0.8;
}