h1 {
    font-family: roboto slab;
    font-size: 2.4em;
    font-weight: 100;
    color: #ccc;
    margin-bottom: 55px;
}
body {
    background-color: #012;
    color: #eee;
    font-family: open sans, verdana, arial, sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}
a {
    color: #999;
    text-decoration: none;
    transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
footer {
    color: gray;
    font-family: helvetica, verdana, arial, sans-serif;
    font-size: x-small;
    text-align: center;
    margin: 40px;
}
.thin {
    font-weight: 100;
}
.name {
    color: #eee;
    font-family: open sans, helvetica, sans-serif;
    font-size: 3.2em;
    font-weight: 600;
    margin: 20px;
    margin-top: 30px;
}
.bio {
    margin: 40px 15% 60px 15%;
    padding: 20px 20px;
    border-radius: 15px;
}
.experience {
    font-family: roboto slab;
    margin: 80px 15% 20px 15%;
}
.experience p {
    margin: 50px 15% 20px 15%;
}
.employer {
    display: block;
    font-size: 1.5em;
    font-weight: 100;
}
.jobTitle {
    display: block;
    font-size: medium;
    font-weight: 400;    
}
.date {
    display: block;
    font-style: italic;
}
.connectionHeading {
    margin-top: 70px;
    margin-bottom: 20px;
}
.socialMenu {
    display: inline-block;
}
#connectionMenu {
    display: none;
    margin: 20px;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
#connectionMenu li {
    float: left;
    margin: 2px;
    padding: 10px 14px;
}
#connectionMenu i {
    color: #aaa;
    font-size: 2.9em;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
}
#connectionMenu i:hover {
    color: #345;
}