h1 {
    color: #ccc;
    font-family: roboto slab;
    font-size: 2.4em;
    font-weight: 100;
    margin-bottom: 55px;
}

body {
    background-color: #012;
    color: #eee;
    font-family: open sans, verdana, arial, sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
}

a {
    color: #999;
    text-decoration: none;
    transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

footer {
    color: gray;
    font-family: helvetica, verdana, arial, sans-serif;
    font-size: x-small;
    margin: 40px;
    text-align: center;
}

.thin {
    font-weight: 100;
}

.divider-section {
    padding-bottom: 300px;
    padding-top: 100px;
}

.next-section-button {
    bottom: 25px;
    color: gray;
    cursor: pointer;
    font-size: 2.9em;
    line-height: 20px;
    margin-top: 100px;
    position: fixed;
    right: 25px;
    transition: color .1s ease-in-out;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
}

.next-section-button:hover {
    color: lightgray;
}

.name {
    color: #eee;
    font-family: open sans, helvetica, sans-serif;
    font-size: 3.4em;
    font-weight: 600;
    margin: 20px;
    margin-top: 30px;
}

.bio {
    border-radius: 15px;
    margin: 40px 15% 60px 15%;
    padding: 20px 20px;
}

.experience {
    font-family: roboto slab;
    margin: 80px 15% 20px 15%;
}

.experience p {
    margin: 50px 15% 20px 15%;
}

.employer {
    display: block;
    font-size: 1.5em;
    font-weight: 100;
}

.job-title {
    display: block;
    font-size: medium;
    font-weight: 400;    
}

.date {
    display: block;
    font-style: italic;
}

.connection-heading {
    margin-bottom: 20px;
    margin-top: 70px;
}

.social-menu {
    display: inline-block;
}

.connection-menu {
    display: none;
    list-style-type: none;
    margin: 20px;
    padding: 0;
    text-decoration: none;
}

.connection-menu li {
    float: left;
    margin: 2px;
    padding: 10px 14px;
}

.connection-menu i {
    color: #aaa;
    font-size: 2.9em;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
}

.connection-menu i:hover {
    color: #345;
}